
// Colors
$primaryColor1: rgb(255, 255, 255);
$primaryColor2: rgb(50, 50, 50);
$primaryColor3: rgb(255, 255, 255);
$primaryColor4: rgb(132, 0, 255);



// Fonts
$primaryFont1: 'Roboto', sans-serif;
$primaryFont2: 'DM Sans', sans-serif;
$primaryFont3: 'Cookie', cursive;



// Font Sizes
$primaryFontSize1: 1.8rem;
$primaryFontSize2: 1.6rem;
$primaryFontSize3: 2.6rem;



//font-family: 'DM Sans', sans-serif;
//font-family: 'Roboto', sans-serif;